body {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.changelog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px;
}

.changelog-container h1 {
    margin-bottom: 10px;
}
.changelog-container p {
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: black;
}

.timeline-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 100%;
    margin: 15px;
    
}

.timeline-date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 60px;
}

.timeline-item .timeline-date::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    z-index: 1;
}

.timeline-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}

.button {
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 2px 2px 5px grey;
}
.button:hover {
    background-color: rgb(49, 49, 49);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
    
