body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
}
a {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}
nav {
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    gap: 15px;
    justify-content: right;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

header hr {
    height: 1px;
    margin-top: 50px;
    border: none;
    background-color: black;
}
.sections {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 50px;
}
#projects, #work-experience, #education {
    border: 1px solid black;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
}
#projects ul {
    list-style-type: none;
    padding-left: 0;
}
#education ul {
    padding-left: 25px;
}
.reviews-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}
.review_1, .review_2, .review_3 {
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
}
.professor {
    font-style: italic;
    color: gray;
}
footer {
    text-align: center;
    margin-top: 50px;
}

/* Contact Page */
#contact-info {
    text-align: center;
}

/*Projects Page */
#projects-list ul {
    list-style-type: none;
    padding-left: 0;
}
#projects-main, #article-main, #contact-main { /*main from diffrent pages */
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    padding: 15px;
}
#projects-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}